@charset "UTF-8";
/*variable*/
/*couleur qui asombrira le bouton*/
body {
  font-family: 'Roboto', sans-serif;
}

.visuel img {
  width: 100%;
}

@media all and (min-width: 768px) and (max-width: 2500px) {
  .visuel img {
    height: 30rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  font-family: 'Shrikhand', cursif;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.divCoeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4rem;
  position: relative;
  font-style: italic;
  width: auto;
  font-family: 'Shirkhand';
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-coeur {
  position: relative;
  font-size: 25px;
  color: linear-gradient(#FF79DA, #9356DC);
}

.coeur-plein {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.container-coeur:hover .coeur-plein {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.coeur-vide {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.container-coeur:hover .coeur-vide {
  -webkit-transform: scale(0);
          transform: scale(0);
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.btn button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  /*pour le dégradé de couleur sur le bouton*/
  border-style: none;
  border-radius: 50px;
  font-size: 18px;
  width: 50%;
  height: 50px;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: all .5s;
  transition: all .5s;
  /*pour appliquer l'animation*/
}

.btn button:hover {
  /*on met un hover pour quand la souris passe sur le bouton*/
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  /*dégradé de couleur sombre au passage sur le bouton*/
  -webkit-box-shadow: 0 4px 7px #9e9e9e;
          box-shadow: 0 4px 7px #9e9e9e;
  /*le contour du bouton qui fait une ombre au passage de la souris*/
}

main {
  background-color: #f6f6f6;
}

h2 {
  margin: 0;
  padding: 2rem 0;
  font-size: 1.2rem;
  font-weight: normal;
  border-bottom: 3px solid #71f2e6;
  width: 50px;
  padding-bottom: 0;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem auto 1rem auto;
  height: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article div {
  display: block;
  margin-left: 1rem;
  height: 100%;
  white-space: nowrap;
  /*pour qu'il ny ai pas de retour a la ligne si texte trop long*/
  overflow: hidden;
  /*pour couper le texte si trop long*/
  text-overflow: ellipsis;
  /*pour mettre 3 petits points lorsque le texte est coupé*/
}

article div p {
  white-space: nowrap;
  /*pour qu'il ny ai pas de retour a la ligne si texte trop long*/
  overflow: hidden;
  /*pour couper le texte si trop long*/
  text-overflow: ellipsis;
  /*pour mettre 3 petits points lorsque le texte est coupé*/
}

article .titreGras {
  font-weight: bold;
}

article aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 73%;
  width: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

article mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 1rem 1rem 0;
}

article mark mark:hover {
  -webkit-animation: rotatecheck 0.5s ease-out forwards;
          animation: rotatecheck 0.5s ease-out forwards;
}

article mark i {
  background: white;
  border-radius: 50%;
  padding: 0.2rem;
  color: #99E2D0;
  cursor: pointer;
}

article mark i i:hover {
  -webkit-animation: checkover 0.5s ease-out forwards;
          animation: checkover 0.5s ease-out forwards;
}

@-webkit-keyframes checkover {
  from {
    width: 0;
  }
  to {
    width: 5rem;
  }
}

@keyframes checkover {
  from {
    width: 0;
  }
  to {
    width: 5rem;
  }
}

@-webkit-keyframes rotatecheck {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotatecheck {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

/*foot*/
footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 20em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
}

footer h4 {
  font-family: 'Shrikhand', cursif;
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 1.5rem 1rem 0 1rem;
}

footer p {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
}

footer a {
  color: white;
}

footer i {
  width: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.3rem;
}
/*# sourceMappingURL=menu.css.map */