/*variable*/
$primaire: #9356DC;           
$primaireClaire : lighten($primaire, 5%);        /*couleur qui asombrira le bouton*/
$secondaire: #FF79DA;
$secondaireClaire : lighten($secondaire, 5%);
$tertiaire: #99E2D0;



.visuel img{
    width: 100%;
  }

.logo{
    display: flex;
    justify-content: space-between;
    width: 60%;
    
    img{
      width: 100px;
  }
}

a{
    text-decoration: none;
    color: black;
}

.btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;


button{
  background: linear-gradient($secondaire, $primaire); /*pour le dégradé de couleur sur le bouton*/
  border-style: none;
  border-radius: 50px;
  font-size: 18px;
  width: 50%;
  height: 50px;
  color: #fff;
  white-space: nowrap;
  transition: all .5s;         /*pour appliquer l'animation*/
  &:hover{      /*on met un hover pour quand la souris passe sur le bouton*/
    background: linear-gradient($secondaireClaire, $primaireClaire);    /*dégradé de couleur sombre au passage sur le bouton*/
    box-shadow: 0 4px 7px #9e9e9e;                                    /*le contour du bouton qui fait une ombre au passage de la souris*/
  }
}
} 

article{
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  border-radius: 1rem;
}





                                             /*foot*/

footer{
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 20em;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  h4{
    font-family : 'Shrikhand', cursif ;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 1.5rem 1rem 0 1rem;
  }
  p{
    color: white;
    font-family : 'Roboto', sans-serif ;
    padding-left: 1rem;
  }
  a{
    color: white;
  }
  i{
    width: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.3rem;
  }
}






