

/*                                                      cahier des charges

couleurs:
primaire: #9356DC ...............
secondaire: #FF79DA...............
tertiaire: #99E2D0..................

Logo et titres: Shrikhand
Texte: Roboto  ............................


Page d’accueil (x1)
● Affichage de la localisation des restaurants. À terme il sera possible de choisir sa
localisation pour trouver des restaurants proches d’un certain lieu................................................
● Une courte présentation de l’entreprise......................................
● Une section contenant les 4 menus sous forme cartes. Au clic sur la carte,
l’utilisateur est redirigé vers la page du menu................................................


Pages de menu (x4)
● 4 pages contenant chacune le menu d’un restaurant.......................................


Footer
● Le footer est identique sur toutes les pages...................................
● Au clic sur “Contact”, un renvoi vers une adresse mail est effectué.........................


Header
● Le header est présent sur toutes les pages..............................
● Sur la page d’accueil, il contient le logo du site..........................
● Sur les pages de menu, il contient en plus un bouton de retour vers la page d’accueil...........................



                                                 Effets graphiques et animations



Les effets accessibles au clic ou au survol sont visibles sur la maquette. Ils devront utiliser
les animations ou transitions CSS, pas de JavaScript ni de librairie.



Boutons
● Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
L’ombre portée devra également être plus visible....................................................
● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un
bouton "J’aime" en forme de cœur est présent sur la maquette. Au clic, il devra se
remplir progressivement. Pour cette première version, l’effet peut être apparaître au
survol sur desktop au lieu du clic.

Page d’accueil
● Quand l’application aura plus de menus, un “loading spinner” sera nécessaire. Sur
cette maquette, nous souhaitons en avoir un aperçu. Il devra apparaître pendant 1 à
3 secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et
utiliser les animations CSS (pas de librairie). Le design de ce loader n’est pas défini,
toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte
graphique du site.
Pages de menu
● À l’arrivée sur la page, les plats devront apparaître progressivement avec un léger
décalage dans le temps. Ils pourront soit apparaître un par un, soit par groupe
“Entrée”, “Plat” et “Dessert”. Un exemple de l’effet attendu est fourni.
● Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus.
Cela fait apparaître une petite coche à droite du plat. Cette coche devra coulisser de
la droite vers la gauche. Pour cette première version, l’effet peut apparaître au survol
sur desktop au lieu du clic. Si l’intitulé du plat est trop long, il devra être rogné avec
des points de suspension. Un exemple de l’effet attendu est fourni.
*/




/*variable*/
$primaire: #9356DC;           
$primaireClaire : lighten($primaire, 5%);        /*couleur qui asombrira le bouton*/
$secondaire: #FF79DA;
$secondaireClaire : lighten($secondaire, 5%);
$tertiaire: #99E2D0;


/*animations*/



 
body{
  font-family : 'Roboto', sans-serif ;
}

.logo{            
  display: flex;
  justify-content: center;
  margin: 25px auto 15px auto;
    font-family : 'Shrikhand', cursif ;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  
} 
  a{
    text-decoration: none;
  }
  
  h2{
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    width: 80%;
    margin: 0;
    padding: 1.5em 1em 0 1em;
    font-family : 'Shrikhand', cursive ;
  }

  aside{
    display: block;
    text-align: center;
    font-size: 18px;
    color: #707070;
    padding: 1.5em 0 1em 0;
  }

  button{
    background: linear-gradient($secondaire, $primaire); /*pour le dégradé de couleur sur le bouton*/
    border-style: none;
    border-radius: 50px;
    font-size: 18px;
    width: 70%;
    height: 50px;
    color: #fff;
    white-space: nowrap;
    transition: all .5s;         /*pour appliquer l'animation*/
    &:hover{      /*on met un hover pour quand la souris passe sur le bouton*/
      background: linear-gradient($secondaireClaire, $primaireClaire);    /*dégradé de couleur sombre au passage sur le bouton*/
      box-shadow: 0 4px 7px #9e9e9e;                                    /*le contour du bouton qui fait une ombre au passage de la souris*/
    } 
  }

  .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
  }

  input{
    border: none;
    background-color: #eaeaea;
  }
  label{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: #eaeaea;
    border-top: solid 2.5px;
    border-color: #d8d8d8;
    align-items: center;
    i{
      margin-right: 1rem;
    }
  }

  h3{
    margin: 0;
    padding: 2rem 1rem;
    font-weight: bold;
    font-size: 25px;
  }

  h3{
    margin: 0;
    padding: 2rem 1rem;
    font-weight: bold;
    font-size: 25px;
  }
  .background{
    background-color: #f6f6f6;
    article{
      background-color: white;
      margin-bottom: 2rem;
      border-radius: 0 0 1rem 1rem;
      box-shadow: 0 3px 5px 3px #ededed;
    }
   }

                                                          /*section fonctionnement*/
   
  #fonctionnement{
    display: flex;
    flex-direction: column;
    i{
      color: #9e9e9e;
      padding: 1rem;
    }
    ul{
      margin: 0;
      padding: 0 1rem;
    }
    li{
      border-radius: 20px;
      box-shadow: 0 3px 5px 3px #ededed;
      background-color: #f6f6f6;
      height: 75px;
      text-align: center;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      cursor: pointer;
    }
    li:hover{
      background-color: #f5edff;
      i{
        color: $primaire;
      }
    }
    p{
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $primaire;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
      display: flex;
      margin-left: -0.5rem;
      color: white;
    }
  }

  

                                                   /*section restaurants*/
   article{
     position: relative;
   .menu{
     display: flex;
     justify-content: space-between;
     width: 100%;
     align-items: center;

   }
   .fa-heart{
     font-size: 25px;
   }

   .container-coeur{
    position: relative;
    font-size: 25px;
    color: linear-gradient(#FF79DA, #9356DC);
   }
   .coeur-plein{
     position:absolute;
  transform:scale(0);
     transition-duration: 1000ms;
   }

   .container-coeur:hover .coeur-plein {
    transform:scale(1);     
   }

   .coeur-vide{
    transition-duration: 1000ms;
   }

   .container-coeur:hover .coeur-vide {
    transform:scale(0);
   }
   
   .restaurant-description{
     .nouveau{
       position:absolute;
       background-color: #99e2d0;
       padding: 8px;
       top :0;
       right: 0;
       margin-right: 5px;
       color: #0c8e6e;
     }
     .paddingH4{
      
       color: black;
     }
     p{
       color: black;
     }
     h5{
       color: black;
       line-height: 0;
      
     }
   }
   img{                 
      width: 100%;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
      height: 10rem;
      margin-left: auto;
      margin-right: auto;
    }
  
  }
  @media screen and (min-width:768px) {
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
li{
  width: 300px;
}
h2{
  margin-top: 30px;
  padding: 0;
  width: 100%;
}
.background{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  aside{
    display: flex;
    justify-content: center;
    width: 100%;
  }
h3{
  width: 100%;
}
article{
 width: 20rem;
 margin-right: 4rem;
 margin-left: 4rem;
}

}
  }
@media screen and (min-width:1360px) { 
  .background article{
    margin-right: 10rem;
    margin-left: 10rem;
  }
}




                                             /*foot*/

footer{
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 20em;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  h6{
    font-family : 'Shrikhand', cursif ;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 1.5rem 1rem 0 1rem;
  }
  p{
    color: white;
    font-family : 'Roboto', sans-serif ;
    padding-left: 1rem;
  }
  a{
    color: white;
  }
  i{
    width: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.3rem;
  }
}



                                   /*LOADER*/
                                   

#loader{               /*un # car cest un id et non une class*/
  background-color: white; /*pour ne plus rien voir lors du chargement de la page*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  animation: afficheLoader 3s forwards; /*animation plus durée*/
  #loaderi{
    animation: rotateLoader 3s; /*animation plus durée*/
    width: 4rem;
    height: 4rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: $primaire;
    border: 1px solid $primaire;
    border-radius: 50%;
  }
}


@keyframes afficheLoader {     /*pour afficher le loader au milieu de la page et qu'il disparaisse*/
  0%{
    height: 100vh;
  }
  99%{
    height: 100vh;
  }
  100%{
    height: 0px;
  }
}

@keyframes rotateLoader { /*pour que le loader tourne*/
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}



    
